# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [1]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [2]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)
df_food.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

### Explore the Data

How much data did you just load?

In [3]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [3]:
# Show the column names and their types.
df_food.info()
'''df_info = pd.DataFrame({
    'Column': df_food.columns,
    'DataType': df_food.dtypes.values
})

df_info'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

"df_info = pd.DataFrame({\n    'Column': df_food.columns,\n    'DataType': df_food.dtypes.values\n})\n\ndf_info"

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [4]:
# Remove ‘em.
df_clean = df_food[['calories_day','weight','Gender']]
df_clean

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [6]:
# Count ‘em.
df_clean.isna().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [9]:
# Drop ‘em.
df_clean = df_clean.dropna()

In [10]:
df_clean.isna().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1 to 123
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   calories_day  104 non-null    float64
 1   weight        104 non-null    object
 2   Gender        104 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ KB

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [12]:
# Fix that.
'''df_clean['weight'] = df_clean['weight'].astype(float)''' # basic convertion

df_clean['weight'] = pd.to_numeric(df_clean['weight'], errors='coerce')

/tmp/ipykernel_1942/957405510.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['weight'] = pd.to_numeric(df_clean['weight'], errors='coerce')

In [13]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1 to 123
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   calories_day  104 non-null    float64
 1   weight        101 non-null    float64
 2   Gender        104 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 3.2 KB

In [15]:
df_clean = df_clean.dropna()

In [16]:
df_clean.isna().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

In [17]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 1 to 123
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   calories_day  101 non-null    float64
 1   weight        101 non-null    float64
 2   Gender        101 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 3.2 KB

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [19]:
# Savey save!
save_to_csv = df_clean.to_csv('/workspaces/ds-fall-2025-wed-AA/Week-02-Pandas-Part-2-and-DS-Overview/data/clean.csv',index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [46]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
salary_data_set_path = 'data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'

df_salary = pd.read_csv(salary_data_set_path, sep='\t')
df_salary.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [4]:
# Count by hand. I’m dead serious.
df_salary.shape

(28062, 18)

What are the columns and their types?

In [47]:
# Show the column names and their types.

df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28062 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28062 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27988 non-null  object
 3   Job title                                                                                                                                                                                                                             28061 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7262 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28062 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20766 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28062 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        206 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3042 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28062 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23039 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27980 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28062 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28062 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27840 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27891 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [48]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
# 1) Strip leading/trailing whitespace from existing column names
df_salary.columns = df_salary.columns.str.strip()

# 2) Rename with corrected source keys
df_salary.rename(
    columns={
        'Timestamp': 'timestamp',
        'How old are you?': 'age',
        'What industry do you work in?': 'industry',
        'Job title': 'title',
        'If your job title needs additional context, please clarify here:': 'title_context',
        "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": 'salary',
        'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'additional_compensation',
        'Please indicate the currency:': 'currency',
        'If "Other," please indicate the currency here:': 'other_currency',
        'If your income needs additional context, please provide it here:': 'salary_context',
        'What country do you work in?': 'country',
        "If you're in the U.S., what state do you work in?": 'state',
        'What city do you work in?': 'city',
        'How many years of professional work experience do you have overall?': 'total_yoe',
        'How many years of professional work experience do you have in your field?': 'field_yoe',
        'What is your highest level of education completed?': 'highest_education_completed',
        'What is your gender?': 'gender',
        'What is your race? (Choose all that apply.)': 'race',
    },
    inplace=True
)
df_salary.columns

Index(['timestamp', 'age', 'industry', 'title', 'title_context', 'salary',
       'additional_compensation', 'Please indicate the currency',
       'other_currency', 'salary_context', 'country', 'state', 'city',
       'total_yoe', 'field_yoe', 'highest_education_completed', 'gender',
       'race'],
      dtype='object')

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [49]:
# List the unique industries and a count of their instances.
industry_counts =  df_salary['industry'].value_counts()
industry_counts

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [50]:
top5 = industry_counts.head(5)
top5

industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
Name: count, dtype: int64

In [51]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_salary[(df_salary['industry'] == 'Computing or Tech')]
df_salary_tech

,timestamp,age,industry,title,title_context,salary,additional_compensation,Please indicate the currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

In [52]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     28062 non-null  object
 1   age                           28062 non-null  object
 2   industry                      27988 non-null  object
 3   title                         28061 non-null  object
 4   title_context                 7262 non-null   object
 5   salary                        28062 non-null  object
 6   additional_compensation       20766 non-null  float64
 7   Please indicate the currency  28062 non-null  object
 8   other_currency                206 non-null    object
 9   salary_context                3042 non-null   object
 10  country                       28062 non-null  object
 11  state                         23039 non-null  object
 12  city                          27980 non-null  object
 13  total_yoe                     28062 non-null  object
 14  field_yoe                     28062 non-null  object
 15  highest_education_completed   27840 non-null  object
 16  gender                        27891 non-null  object
 17  race                          27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [53]:
# Sanity Check 
print(df_salary_tech['industry'].unique())

['Computing or Tech']

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [54]:
# Filtery filter for just the jobs that pay in USD!
df_salary_usd = df_salary_tech[df_salary_tech['Please indicate the currency'] == 'USD']

titles = df_salary_usd['title'].unique()

for t in titles:
    print(t)

Systems Analyst
Principal Software Engineer
Intelligence Analyst
Mobile developer
Product Design Director
Managed Services Sales Coordinator
Technical specialist
Tech Writer
Senior Business Analyst
senior web application developer
Chief Engineer
Senior Financial Analyst
Product Manager
Service Designer
Software Development Manager
technical support specialist
Senior Technical Writer
Business Analyst
Supply chain manager
Visual Designer
IT Manager, Financial Systems
Senior Manager of Customer Enablement
Software Engineer
Agile Coach
principle product marketing manager
Senior user experience researcher
Salesforce Administrator
Program Manager
Junior Project Manager
Software Development Project Manager
Human Resources Manager
Programmer Analyst 2
Sr development Manager
Technical Project Manager
Marketing Specialist
Sales
Instructional designer
Proposal Manager
Business Architect
Backend Elixir Engineer
Customer Support Representative
Engineering Manager
Customer Success Manager
Director, Corporate Communications
Content Development Manager
Data Engineer
Director of Operations
Embedded Software Engineer
Finance Manager
ux developer & product designer (junior)
Manager
Executive Director
Operations Analyst
Customer Success Team Manager
Director of Data Science
Senior Customer Success Manager
Junior Product Manager
Senior Data Engineer
Senior Software Engineer
Product Designer
Software Quality Assurance Manager
Software Developer
Director of Information Technology
Project Manager
Software Engineer 2
Senior RFP Specialist
QA and Testing Analyst II
Technical writer
Senior Software Engineer
senior primary systems engineer
Mechanical Engineer
Senior Executive Assistant
Desktop Support Technician
IT Program Director
Chief Information Security Officer
Software engineer
Level 1 Support
Software Developer and Consultant
Senior IT program delivery manager
Product Owner
Operations Engineer
Program Manager III
OPerations Manager
Sr. Director of Marketing
Senior Program Manager
Client Success Manager
Business Analyst III
Human Resources Director
Product Group Lead
Consultant II
Manager, Solutions Engineering
Senior Systems Engineer
Associate Project Manager
VP of Customer Success
Senior UX Researcher
Compliance Analyst
Director, Software Engineering
Software Engineer (Front End)
Product Manager - Technical
Systems Engineer
Conversion Optimization Specialist
Database Administrator
Senior Data Scientist
Data engineer
IT Project Manager
Associate Director of Product Management
Sales Development Representative
Senior Content Developer
UX
Technical Staff
Program Launch Manager
Director, Software Dev
customer support specialist I
analyst
Director Front End Development
Director, Data Management
Product Policy Manager, Trust & Safety
Social Media Customer Service
Software and Database Engineer
Software Architect
Front-end Developer
Desktop Support
Senior Linguist
Senior Director, Brand Marketing
Manager of Front End Engineering
Technical Product Manager
Senior Researcher
Senior Product Manager
Conversion Manager
Sr Product Manager
Instructional Designer
Software engineer
Consultant
Risk Operations Analyst
Senior IT Software Developer
Customer Support Rep
Senior System Engineer
Compliance Officer
product support
Senior marketing strategist and writer
Technical Lead
Research Scientist
Team Lead / Relationship Manager
Network System Engineer
Development Manager
Senior Solution Engineer I
Process Engineer
Software Tester
Data Scientist
Director
Salesforce Solution Architect
Sr. Software Developer
Associate Product Manager
Senior Product Analyst
Senior specialist design software architect
Senior Software Engineering Manager
Product Owner: Data, Reporting, & Analytics
Help Desk Technician
Security Engineer
Project manager
Product manager
Senior software development engineer
Technical Writer
Systems Administrator 2
Sr. Program Manager
Senior Motion Designer
Client Support
Senior Consultant
Senior Database Administrator
Content Management Consultant
Advanced Program Manager
Engineer
IT Systems Engineer
Sys Admin
Computer Security Assessor
Technical Account Manager
Corporate Trainer
Brand Advertising Manager
Support Tech
Director of Strategic Partnerships
Technical Writer II
GIS Specialist
Program Manager II
Senior Deliverablity Consultant
Production Analyst
Senior Data Scientist
Senior IT Consultant
IT Program Manager
Director of IT
ux design lead
Director of Professional Services
Senior HRIS Analyst
VP Product
Senior Network Engineer
Director of Technology
Manager, Learning & Media
Enterprise Solutions Architect
DevOps Engineer
Marketing and Sales
software engineer
Principal Test Engineer
Senior BI Analyst
Product Manager
Diversity equity and inclusion associate
Team Manager
IT Security Analyst
Business intelligence
Senior Content Editor
Software Engineer IV
Senior Software Dev Engineer
Business Consultant
Principal Instructional Designer
Lead Data Engineer
Sr. Operations Manager
Marketing Manager
Head of Customer Experience
Talent and Leadership Development Manager
Operations Manager
Senior Salesforce Analyst
Senior software engineer
Leader of business intelligence
trade spend analyst
Qa Manager
Marketing Analyst/Project Manager
People Operations (HR)
Sr Executive Administrator
VP Legal
DevOps Analyst
Director of Trust and Safety
Tech Lead
Implementation Specialist
HR Specialist
Customer Support Manager
Software Engineer
Community Manager
Sr Software Engineer
Lead Game Designer
Cybersecurity Analyst
(Electronics) Hardware engineer
Support Manager, North America
Cyber Security Manager
Product Safety Engineer
Senior Team Lead
Senior eLearning Developer
Director, Professional Services
Director, Product Marketing
Engineering Associate
DevSecOps Manager
Web developer
ML/AI Scientist
Content Writer
Sales Operations Manager
Senior IT Project Manager
IT Administrator
Senior Staff Privacy Engineer
Electrical Engineer
principal data scientist
Data Manager
Taxonomy Manager
Senior Developer
Director of Policy
Camera Hardware Engineer
Editor
Hardware Verification Engineer
Frontend Software Engineer
Software Developer Team Lead
Vice President of Operations
Field Human Resources Generalist
Director of Digital Operations
Frontend Engineer
Web Developer
Senior Manager
Senior SDE
LMS Administrator
Product Content Lead
Program Architect
Senior Director Product Engineering
Systems Administrator
Clinical Systems Analyst
Process Specialist III
Strategy Lead
Network Engineer Technical Specialist
Marketing Director
computer engineer
Firmware Engineer
Client Account Manager
database developer
CX Coach
Manager, Content Strategy
Product manager
Senior Engineering Manager
Vice President - Human Resources
programmer
Database Administrator SQL
Software developer
Senior Manager, Sales Operations
Information Architect
Talent Management Manager
Applicaion Developer III
Software consultant
Lead Software Engineer
Business Administrator
Ruby on Rails Developer
Marketing Coordinator
Senior Developer - Front End
Manager Information Security
Manager II, Revenue Operations
UX Engineer
Business Operations
Engagement Manager
Head of People Operations
UX Writer
Principal Engineer
Network administrator
HR Business Partner
Senior Commission Analyst
Software Engineer II
Project Coordinator
Field Services Regional Supervisor
Tech Support Tier 1
Lead Accessibility Auditor
Sr Tech Consultant
Senior BI Developer
IT Specialist
Office assistant
senior sysadmin
Staff Accountant
Finance Analyst
Associate Software Engineer
Systems Support Analyst
Senior Technical Program Manager
Manager, Program Management
SE
Senior Engineer
Product Developer
Senior Content Strategist
Automation engineer
Asset Analyst
Practice Support Analyst
product manager
Tech Writer/Compliance Analyst
Customer Support Supervisor
Senior Scrum Master
Onboarding Specialist
research scientist
Android Engineer
Senior Quality Assurance Analyst
Product Training Specialist
HR Generalist
QA Engineering Lead
Backend engineer
Implementation Consultant
Salesforce Administrator
Principal Design Researcher
Senior Software Consultant
Senior Support Service Manager
Senior Finance Manager
Support Specialist
UX Researcher
Senior Software Developer
Senior QA Engineer
Software Engineer 3
Senior technical writer
Technical Customer Support
Project Lead
Marketing Communications Manager
Principal Product Designer
COO
Web Design and Front-end Developer
Senior Data Analyst
Sr Database Administrator
Technical Support Engineer
Manager, Business Intelligence
Sr. Principal Curriculum Developer
Data scientist
System Reliability Engineer II
Associate Project manager/Scrum Master
Senior Compliance Manager
Senior software developer in test
Sales Engineer
Application Developer
Sr. Product Manager
Event Scheduler
Product Specialist
Director of Product
Data Management Team Lead
Team lead
Paralegal
Associate General Counsel
Director of Engineering
SEO Specialist
IT manager
Digital Designer
Content Marketing Manager
Senior Data Analyst
Software Developer III
Quality Assurance Engineer
QA Engineer
Application Specialist II
Senior research scientist
Principal Recruiter
Senior project manager
internal consultant
Principal Business Systems Analyst
Analyst
Customer Success Manager, Team Lead
Scrum Master
Cybersecurity Engineer
Software Engineer, Test II
Team Lead - Technical Writing
Internal Security and Compliance audit
Senior Customer Success Consultant
User Experience Designer
Full Stack Engineer
Product management - architect
Expert Technical Writer
Account Supervisor
People Operations Manager
Senior software developer (freelance)
Data Analyst
Sr. Finance Manager
Technical Support Level 2
Partner Marketing Manager
senior software engineer
Fraud Analyst
Documentation and Community Manager
Technical Support Analyst
Technical Implementation Manager
Sr. Content Designer
Senior Manager, User Experience
 Cloud Architect
Senior Analytics Consultant
Lead audio engineer
Aggregation Quality Analyst
Sales and Marketing Manager
Strategic consultant
Lead Analyst, Supply Chain Information Systems
Quality Assurance
Site Reliability Engineer
Director of Creative Strategy
Executive Assistant
Office Manager and HR Generalist
SEO Supervisor
Technical Director
EA
Principal product engineer
User experience researcher
Cyber Security Engineer
Senior Product Designer (UX)
Software Developer in Test
Team Lead
Technical Editor
Senior Scientist
Software trainer
Senior Director
IT Asset Management & Procurement Coordinator
Prepress Designer
Security Researcher
Senior Demand Generation Specialist
Senior Marketing Manager
Technical Sales Manager
Business Intelligence Team Lead
Lead Data Scientist
Sr Software Test Engineer
Help Desk Lead
Technical Engagement Manager
Senior Manager, Software Engineering
VP Product Marketing
Director of Project Management
Global Content Strategy Manager
Implementation Manager
Associate Director
PM
Lead MES Developer
Senior Software Analyst
Senior Associate, Quality Assurance
Technical Program Manager
Senior Oracle Applications Consultant
Software engineer II
IT Help Desk Site Lead
business intelligence developer
Customer Support/Office Manager
Lead Project Analyst/Engineer
Sr Employee Experience Specialist
Tech Support
Software Engineer in Test
Project Delivery Senior Consultant
Director of product
Business Analyst (Operations)
Senior Data Quality Specialist
Data Conversion Analyst IV
Specialist Software engineer
Business Systems Manager
Director of Customer Success
Communications Project Manager
Senior Project Manager
Product Project Manager
Director of Bioinformatics
Senior UX Designer
Senior Communications Manager
Senior Content Manager
Principal Front End Engineer
Collaboration Engineer I
Data Migration Consultant
Senior Counsel
Software engineering manager
Director of customer experience
Front End Web Developer
Software Engineer 2 Lead
Customer Operations Manager
Senior Software Implementation Engineer
System Programmer I
Software Development Engineer
Marketing Associate
Director Strategic Programs & Internal Communications
IT Change Manager
IT Consultant, Level 2
Senior data scientist
Practice Director
Lead software engineer
Sr Engineer
Senior Manager Software Dev
Project Manager
System Architect
Head data scientist
Sr Salesforce Administrator
IT Systems Administrator
CTO
Senior Manager, Content Marketing
data analyst
Exec. Ass’t.
Computational Biologist
Senior Computer Scientist
Head of Content
HR Product Manager
Tax manager
Distinguished Member of Technical Staff
Business Program Manager
Chief Product Officer
Associate software engineer
VP Analytics
Senior Product Marketing Manager
Executive Assiatant II
QA Analyst
Data Science Manager
Senior Executive Assistant
Partner Marketing Specialist
Data and Analytics Product Manager
Application Support Engineer
Account Executive
Scientist
Executive Assistant
Manager, Client Support
Sr Director IT
Tech Enablement
Director of Client Success
Staff Data Scientist
Deployment Project Manager
Internal Auditor
Master Trainer
SAP Support Specialist
Level 1 helpdesk
Corporate Social Responsibility Manager
Advisory Software Engineer
Documentation Specialist
network engineer
Sr Director, Product Management
Product Test Engineer
Sr. Manager, Technology
Staff Product Analyst
Senior Front End Developer
Senior Director of HR
Manager quantitative analysis
QA manager
Strategic Writer
Lead User Interface Engineer
Senior aviation content adminstrator
Software QA Manager
Director of Customer Experience
Manager, Product Management
Senior System Analyst
Distance Learning Specialist
Customer support engineer
Vice President of Engineering
Manager of Customer Support
VP, Global Channels
senior consultant
consultant engineer
Senior Operations Manager
Lead Software Designer
Communications Strategist
Front End Engineer
Partnerships
Instructional Design
Content Manager
Database Administrator
Sr Professional Staff I
content marketing manager
Senior Technical Program Manager Lead
Software Developer / Consultant
Human Resources & Payroll Manager
lead software engineer
Support Manager
Admin Assistant
UI/UX Developer
Sr. Campaign Manager
National Success Manager
Software Development Lead
Senior Manager, Strategic Communications
Finance Associate
quality assurance engineer
Operations Associate
IT billing analyst
cloud operations engineer
Operations Data Analyst
Accountant
Analyst/Technical Account Manager
Vice President Infrastructure
Business Operations Manager
ux research
Organizational Development Specialist 4
Engineering Lead
Senior Digital Strategist
Staff Software Engineer
Risk Manager
Operations Admin
Senior Project Manager
Clinical analyst
Associate Network Engineer
Senior Security Engineer
Staff Technical Writer
Mobile Software Engineer
Sr Project Manager
Senior Proposal Manager
Software architect
Information Security Analyst
Sr manager - process
Visual Design Manager
Sr Director Engineering
Engineering Manager II
Product Management Director
Client Platform Engineer
Workplace Operations Lead
Director, Cloud Solutions
Operations Manager
Email Deliverability Consultant
Sr. Software Engineer
Senior executive assistant
IT support assistant
Sr Manager, Growth Strategy
Information Support
Apple Technology Specialist
Platform Operations Engineer
Associate Systems Administrator
Technical Customer Support
Senior Test Engineer
Director of Marketing
Technical Program Manager II
Director, SW Engineering
Environmental Health and Safety, and Emergency Management Lead
Content Developer
Technical editor
Manager, Sales Engineering
Lead Engineer
Sr. Atlassian Engineer
 Industrial Hygienist
Head of strategy
Site Reliability Engineer
Staff Security Engineer
Senior marketing automation managed
Senior Product Designer
CE Expert
Sr. Business Manager
Product Consultant
Web development
Solution consultant
Silicon Validation Engineer
Senior developer
User Researcher
IT Team Lead
GIS Programmer / Analyst
Lead Specialist
Senior Associate
System Consultant
SAS Platform Administrator
Inventory Analyst
Application Security Engineer
Apple platforms engineer
Curriculum designer
Research Associate II
Systems Architect
Executive business administrator
Software developer
Senior SW Engineer
Database Architect
Content Marketer
Systems Engineer - Cybersecurity
Machine Learning Engineer
Front End Engineer
Global Compensation Director
Backend Software Engineer
Product Specialist
data science
Systems engineer
IT consultant
QA Assistant Manager
Software Engineer III
Desktop Supporg
Director of Managed Services
Field Marketing Manager
Staff Developer Evangelist
Principal Research Scientist
Professional Services Engineer
Vice President of People and Culture
Sr. Scrum Master
Associate
Software Implementation Analyst
Engineer in Test
Sr Consultant
Computer Engineer
Principal Product Manager
Quality and training manager
Software Engineering Manager
VP Engineering
Technical Program Manager
Data analyst
Technical Sales Specialist
Program manager
Associate Analytics Engineer
Head of Data Science & Analytics
Lead Software Engineer
Senior Manager
Sr. Software Engineer
senior systems engineer
Site reliability engineer
Data Scientist
Developer Community Manager
Director
Community and Events manager
Senior Decision Scientist
Senior Biostatistcian
Manager, program management
Community Support Lead
Senior Research Program Manager
Senior Salesforce Administrator
Software Engineer Principal II
principal software engineer
Senor software engineer
Senior Talent & Generalist
Growth Manager
Manager of Cloud Operations
Managing Director
Principle Software Engineer
senior ux designer
Application Architect
Staff Software Engineer
Staff software engineer
Statistical Associate
QE Manager
Enablement manager
Lead Security Engineer
Principal Software Engineer
Product Marketing Lead
Software Engineer I
Program Lead
 Network Coordinator
Taxonomist
Microsoft engineer
Lead Business analyst
Staff Engineer
Software Engineering Director
Graduate intern
GIS Programmer Analyst
Front end developer
Sr QA Analyst
Engineering manager
Embedded software engineer
Senior engineering manager
Customer Success Specialist
Content editor
Senior Support Analyst
Technical Support Engineer
Head of Vendor Management
Mathematician
Performance Analyst
Engineering manager
Technical project manager
Data Analyst
Senior data analyst
Business Intelligence Engineer
Principal software engineer
Senior Web Developer
Senior ML Engineer
Employee Success Quality Assurance Specialist
VP of Engineering
Lead Programmer
Lead Systems Engineer
Senior programmer analyst
Customer Support Specialist
Applied Data Scientist
Producer
Systems Administrator
Account Manager
Architect
Marketing Content Manager
Lead BI Consultant
Vice President
Product Design Manager
Information Security Manager
executive assistant
Director of Content
Senior Principle Cyber Software Engineer
Software Consultant
Senior analyst
Director of Enginneering
Customer Education
Senior Information Developer
Test engineer
Manager, Information Security
Engineering Manager
Officer, Analyst II- System/Data Security
senior software engineer
Senior Programmer
Sr. Director
Production Services Manager
Director of Review Solutions
Software Support Engineer
Front End Software Engineer
Applied cryptographer
Senior Director of Marketing
Integration Architect
Senior Software Engineer 1
Project Analyst
Associate Director of User Experience
Lead Consultant
Technical Support
Web Software Engineer III
Associate Systems Engineer
Sr. Manager
Analytics Engineer
Sr Software Eng
Workday Implementation Consultant
lead scientist
Vice President Application Management
Strategic Account Manager
managing editor
Senior Technical Product Owner
Client Manager
Cloud Systems Engineer
IT Technician
Manager, Product Management (Technical)
Systems Developer
VP Customer Support (Operations VP)
Human Resources Business Partner
Production Support Analyst - Configuration
Principal Technical Writer
Product Marketing Manager
Clinical applications specialist
Graduate Research Assistant
Lead User Experience Researcher
Customer Expereince

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [55]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_usd['country'].value_counts().head()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
Name: count, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [56]:
# Replace them all with 'US'.
us_names = ['United States','USA','U.S.','United States of America']
df_salary_usd['country'] = df_salary_usd['country'].replace(us_names,'US')

/tmp/ipykernel_21870/1037178180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['country'] = df_salary_usd['country'].replace(us_names,'US')

Have a look at the count of each unique country again now.

In [58]:
# Count again.
df_salary_usd['country'].value_counts().head()

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
Name: count, dtype: int64

Did you notice anything interesting?

In [59]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
df_salary_usd['country'] = df_salary_usd['country'].replace(['United States ', 'Usa', 'USA ', 'usa'],'US')
df_salary_usd['country'].value_counts().head()

/tmp/ipykernel_21870/711113424.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['country'] = df_salary_usd['country'].replace(['United States ', 'Usa', 'USA ', 'usa'],'US')

country
US               3619
United states      23
united states      14
Us                 12
us                  9
Name: count, dtype: int64

In [70]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.
df_salary_usd['country'] = df_salary_usd['country'].replace(['United states',' United states ', ' United states','united states','Us','us','U.S.A.',' United States of America','Unite States',' United State of America','Usa'],'US')
df_salary_usd['country'].value_counts().head()

/tmp/ipykernel_21870/2956340464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['country'] = df_salary_usd['country'].replace(['United states',' United states ', ' United states','united states','Us','us','U.S.A.',' United States of America','Unite States',' United State of America','Usa'],'US')

country
US                          3699
Israel                         5
Canada                         4
United States Of America       2
U.S                            2
Name: count, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [71]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
df_salary_usd.groupby('state').agg({'salary':['min','max','mean']}).sort_values(('salary', 'mean'), ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [72]:
# Fix it.
df_salary_usd['salary'] = pd.to_numeric(df_salary_usd['salary'], errors='coerce')

/tmp/ipykernel_21870/3842553586.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['salary'] = pd.to_numeric(df_salary_usd['salary'], errors='coerce')

Let’s try that again.

In [73]:
# Try it again. Yeah!
df_salary_usd.groupby('state').agg({'salary':['min','max','mean']}).sort_values(('salary', 'mean'), ascending=False)

                               salary
                                  min        max      mean
state
Michigan, Texas, Washington  340000.0   340000.0  340000.0
Florida                       28800.0  2600000.0  210711.0
California, Oregon           200000.0   200000.0  200000.0
California, Colorado         176000.0   176000.0  176000.0
Delaware                     169000.0   169000.0  169000.0
...                               ...        ...       ...
Mississippi                       NaN        NaN       NaN
New York, Texas                   NaN        NaN       NaN
North Dakota                      NaN        NaN       NaN
South Dakota                      NaN        NaN       NaN
Utah, Vermont                     NaN        NaN       NaN

[66 rows x 3 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [74]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_salary_usd['timestamp'] = pd.to_datetime(df_salary_usd['timestamp'], errors='coerce')

/tmp/ipykernel_21870/3073299894.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['timestamp'] = pd.to_datetime(df_salary_usd['timestamp'], errors='coerce')

In [76]:

new_df_ = df_salary_usd[df_salary_usd['timestamp'].dt.year.isin([2021, 2022, 2023])]
new_df_.tail()

,timestamp,age,industry,title,title_context,salary,additional_compensation,Please indicate the currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
27960,2023-05-09 17:57:30,45-54,Computing or Tech,Junior Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,Virginia,Richmond,21 - 30 years,1 year or less,College degree,Man,White
27961,2023-05-28 16:10:53,45-54,Computing or Tech,Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,New York,Bronx,21 - 30 years,8 - 10 years,College degree,Man,Black or African American
27971,2023-08-08 07:12:10,25-34,Computing or Tech,Data scientist,NaN,500.0,NaN,USD,NaN,NaN,Ghana,NaN,Accra,2 - 4 years,2 - 4 years,College degree,Man,Black or African American
27975,2023-09-08 12:35:45,18-24,Computing or Tech,intern,NaN,35000.0,0.0,USD,NaN,NaN,US,Texas,Dallas,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American
27989,2023-10-26 08:17:05,18-24,Computing or Tech,Ibterb,NaN,456.0,NaN,USD,NaN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Man,Another option not listed here or prefer not t...

In [77]:
new_df_.groupby('state').agg({'salary':['min','max','mean']}).sort_values(('salary', 'mean'), ascending=False)

                               salary
                                  min       max      mean
state
Michigan, Texas, Washington  340000.0  340000.0  340000.0
California, Oregon           200000.0  200000.0  200000.0
California, Colorado         176000.0  176000.0  176000.0
Delaware                     169000.0  169000.0  169000.0
Connecticut                   68000.0  270000.0  161610.0
...                               ...       ...       ...
New York, Texas                   NaN       NaN       NaN
North Dakota                      NaN       NaN       NaN
South Carolina                    NaN       NaN       NaN
South Dakota                      NaN       NaN       NaN
Utah, Vermont                     NaN       NaN       NaN

[66 rows x 3 columns]

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

In [79]:
df_salary['salary'] = pd.to_numeric(df_salary['salary'], errors='coerce')

df_salary.groupby('state').agg({'salary':['min','max','mean']}).sort_values(('salary', 'mean'), ascending=False)

                                salary
                                   min         max        mean
state
Alabama, South Carolina      5000000.0   5000000.0  5000000.00
Alaska                         47840.0  10000000.0   702486.75
Michigan, Texas, Washington   340000.0    340000.0   340000.00
California, Oregon            200000.0    200000.0   200000.00
California, Colorado          176000.0    176000.0   176000.00
...                                ...         ...         ...
North Carolina, Utah               NaN         NaN         NaN
Ohio, Washington                   NaN         NaN         NaN
Ohio, Wyoming                      NaN         NaN         NaN
Texas, Virginia                    NaN         NaN         NaN
Utah, Vermont                      NaN         NaN         NaN

[134 rows x 3 columns]

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)